.demo-content {
  color: #fff;
  display: flex;
  font-family: Helvetica;
  font-weight: 100;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  border-radius: 3px;
  font-size: 56px;
  height: 250px;
  width: 100%;
}
.carousel__item:nth-child(1) .demo-content {
  background-color: #216485;
}
.carousel__item:nth-child(2) .demo-content {
  background-color: #3692b6;
}
.carousel__item:nth-child(3) .demo-content {
  background-color: #6fccc9;
}
.carousel__item:nth-child(4) .demo-content {
  background-color: #a6e3cf;
}
.carousel__item:nth-child(5) .demo-content {
  background-color: #aff0be;
}
.carousel__item:nth-child(6) .demo-content {
  background-color: #527059;
}
.carousel__item:nth-child(7) .demo-content {
  background-color: #243127;
}