ul {
 
}
ul.Resume{
	display: inline;
	padding: 8px; 
	background-color:#333;
	position: fixed;
	text-decoration: none;
	width: 100px;
}
div.inline{
	width: 200px;
	background-color: #f1f1f1;
	height: 100%;
	padding: 10px 10px;
}