div.style{
	margin-bottom: 50px;
}
ul.Resume{
	padding: 8px; 
	background-color: #333;
	position: fixed;
	width: 100%;
}
dl.inline{
	width: 100%;
	background-color: #2a2a2a;
	height: 90%;
	display: inline-block;
	margin-top:50px; 
	padding: 40px 20px 60px 40px;
	margin-left: 10px;
}
a.Resume{
	padding-left: 20px; 
	text-decoration: none;
	font-size: max(3vw, 15px);
}
select.sel{
	padding: 10px; 
	margin-bottom: 25px;
	color: blue;
	font-size: 20px;
}
i.icon{
	margin-right: 10px;
}
div.f{
	 width: 100%;
	 background-color: #333;
	 text-align: center;
	 font-weight: bold;
	 padding: 10px 10px;
	 margin-top: 10px;
}
a.backG{
	background-color: #51942d;
	padding: 10px 20px 10px 20px;
	border-radius: 10px;
	color: white;
}
img {
	display: block;
	margin-top: 100px;
	width: 100%;
	min-height: 200px;
	max-height: 500px;
	opacity: 0.5;
	border: 10px solid white;
}
body.dark-mode{
	background-color: #151515;
	color: white;
}