ul {
 
}
Resume{
	display: inline;
	padding: 8px; 
	background-color:#333;
	position: fixed;
	list-style-type: none;
	width: 100%;
}
inline{
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 200px;
	background-color: #f1f1f1;
	height: 100%;
	padding: 10% 10%;
}